html {
    scroll-behavior: smooth;
}

/* sets to this preference for all objects */
* {
    font-family: 'Nunito';
    background: #fff;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* navbar styles  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    min-height: 3.25rem;
}

/* moringa logo  */
.navbar-logo p {
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
}

/* navbar items */
ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: baseline;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    font-size: medium;
    color: #000;
    text-align: center;
    margin: 0 0.1em;
    padding: 5px 16px;
    text-decoration: none;
    font-weight: 700;

    transition: all 0.3s ease;
}

/* Change the link color to pink on hover */
li a:hover {
    color: #FAAA53;
}
li a.active{
    color: #FAAA53;
}
/* no border on button */
li:last-child a:hover {
    border: none;
}

/*all buttons */
.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background: linear-gradient(180deg, #FBC75B 0%, #FA964D 100%);
    box-shadow: 0px 19px 28px -11px #00000040;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: #FAAA53 0px 0px 0px 0px inset;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;

    transition: ease-out 0.3s;

}

.buttons button:hover,
.buttons button:focus, 
.buttons button:active {
    box-shadow: inset 205px 0px 0 0 #fff;
    border: 1px solid #000;
    color: #000 !important;
}

/* button no-fill */
.buttons button.no-fill {
    color: #000;
    background: #fff;
    border: 1px solid #000;
}

.buttons button.no-fill:hover,
.buttons button.no-fill:focus,
.buttons button.no-fill:active
 {
    box-shadow: inset 200px 0 0 0 #FAAA53;
    color: #fff !important;
    border: 1.45px solid #FAAA53;
}

/* section  */
.section {
    padding: 1em 1em;
    min-height: calc(100vh - 3.25rem);
    width: 100vw;
}

/* columns  */
.columns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.columns.cards {
    overflow: hidden;
}
.column.is-3 {
    width: 25%;
    padding: 2em;
}

.column.is-4 {
    width: 44.4%;
    padding: 3em;
}

.column.is-6 {
    width: 50%;
    padding: 3em;
}

.column.is-8 {
    width: 66.6%;
    padding: 3em;
}

/* title  */
.title.is-large {
    padding: 0.2em 0 1em;
    color: #FA964D;
    font-size: 1.9em;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
}

/* padding  */
.pd-0{
    padding-bottom: 0 !important;
}
.pr-0{
    padding-right: 0 !important
}
.pl-0{
    padding-left: 0 !important
}

/* images */
.image.is-large {
    height: 20em;
    width: 20em;
}

.image.is-large img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* not working  */
.profile{
    position: relative;
    width: 20em;
    height: 20em;
    overflow: visible;
}

.image.is-large .profileImg{
    height: 17.5em;
    width: 15.5em;
    position: relative;
    top: 0;
    background: none;
    z-index: 1;
}

.profile .bigCircle{
    width: 15em; 
    height: 15em;   
    background: #a989e5;
    border-radius: 50%;
    position: absolute;
    top: 0.5em;
    left: -2.8em;
    overflow: visible;
}


.profile .smallCircle{
    border-radius: 50%;
    width: 10em;
    height: 10em;
    background: #eb95aa;
    position: absolute;
    bottom: 3em;
    right: 0;
    overflow: visible;
}
/* .profile .smallCircle .twitter{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: red;
} */
.profile .smallCircle .twitter img{    
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    top: 1em;
    right: -5%;

}
.profile .bigCircle .google img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    top: 4em;
    left: -5%;
}
.profile .facebook img{    
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    top: 1.3em;
    right: 15%;
}

/* hero payments */
.paybtn{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.paybtn .payments{
    display: -webkit-inline-box;
}
.paybtn .payments li{
    padding: 5px;
    width: 4em;
    height: 2em;
    position: relative;
    overflow: hidden;
}
.paybtn .payments li img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
}
.paybtn .buttons button{
    height: 2em;
    overflow: hidden;
}